<!DOCTYPE html>
<html>
  <head>
    <title>WOD Log 我的老哥</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <div>
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <%= yield %>
    </div>

    <%= render "common/footer" %>

  </body>
</html>
